[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyspark = "==2.3.2"
pytest = "==5.4.3"
pytest-cov = "*"
pytest-pep8 = "*"
pandas = "*"

[requires]
python_version = "3.7"
